@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/colors" as *;
@use "./partials/paddings" as *;


.hero {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;
}

// .hero {
//     height: 50vh;
// }

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    background-image: url('../public/assets/images/background11.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


.navbar {

}

