@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/colors" as *;
@use "./partials/paddings" as *;


.hero {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;
}

// .hero {
//     height: 50vh;
// }

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    background-image: url('../public/assets/images/background16.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


.afterHours {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;
    background-image: url('../public/assets/images/background14.jpeg');
}


.holidayHours {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;
    background-image: url('../public/assets/images/background17.png');
}

.nurse {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 67vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;
    background-image: url('../public/assets/images/background18.png');
}

.contact {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;
    background-image: url('../public/assets/images/contact2.jpg');
}
// .hero {
//     height: 50vh;
// }

// .afterHours::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     opacity: 1;
//     background-image: url('../public/assets/images/background12.jpg');
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-position: center;
// }


nav{
    height: 10px;
    width:30px;
    background-color: rgba(203, 54, 54, 0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .links-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
  }
  nav a:hover{
    cursor:pointer;
  }
  nav .home-link{
    margin-right: auto;
  }
  nav svg{
    fill: black;
  }
  #sidebar-active{
    display: none;
  }
  .open-sidebar-button, .close-sidebar-button{
    display: none;
  }


  @media(max-width: 1020px){
    .links-container{
      flex-direction: column;
      align-items: flex-start;
  
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 10;
      width: 300px;
  
      background-color: white;
      box-shadow: -5px 0 5px rgba(0, 0, 0, 0);
      transition: 0.75s ease-out;
    }
    nav a{
      box-sizing: border-box;
      height: auto;
      width: 100%;
      padding: 20px 30px;
      justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button{
      padding: 20px;
      display: block;
    }
    #sidebar-active:checked ~ .links-container{
      right: 0;
    }
    #sidebar-active:checked ~ #overlay{
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
    }
  }
